@media (max-width:768px){
	/* 导航 */
	.nav_header{
		width:126px;
		line-height:70px;
	}
	.oopen .bian{
		width: 34px;
	    z-index: 101;
	    height: 25px;
	    cursor: pointer;
	    background-color:transparent;
	}
	.oopen .bian::before{
	    top: 10px;
	    left:0px;
	    width: 100%;
	    background: #000;
	    transition: transform 0.3s;
	    transform:rotate(45deg);
	}
	.oopen .bian::after{
		background: #000;
	    transition: transform 0.3s;
	    transform:rotate(-45deg);
		top: 10px;
	    width: 100%;
	}

	.mo{
		display:none;
	}
	/* 小模态框 */
	.smo{
		padding:10% 0;
	}
	.small_mo{
		display:block;
	}
	.bian0{
		display:inline-block;
	}
	/* 新品推荐 */
	#he{
		width:5%;
	}
	#he-left{
		float: none;
		width: 100%;
		text-align: center;
	}
	#he-right{
		float: none;
		width: 100%;
	}
	#but-left{
		left:33%;
	}
	#but-right{
		right:33%;
	}
	#he-left>p:nth-child(2)::after {
		left: 50%;
	}
	/* 最新活动*/
	#zui{
		/* float: none; */
		width: 10%;
	}
	#zui_left{
		float:none;
		display: inline-block;
		width:100%;
	}
	#zui_right{
		float:none;
		padding:2%;
		width:100%;
	}
	#zui_right p:nth-child(1){
		font-size: 20px;
	}
	#zui_right p{
		color: #333;
		margin: 0;
		/* height: 0; */
	}
	#zui_right p:nth-child(3){
		height: 30px;
	}
	#zui_right .cha{
		display: block;
		margin: 0 auto;
	}
}
@media (min-width:768px) {
	/* 导航 */
	#nav_body{
		display:none;
	}
	.nav_en{
		padding:1% 0%;
	}
	.nav_header{
		width:200px;
		line-height:70px;
	}
	.nav_en{
		right:10%;
	}
	.oopen{
		right:2%;
	}
	.mo{
		display:none;
	}
	/* 小模态框 */
	.smo{
		padding:10% 0;
	}
	.small_mo{
		display:block;
	}
	
	.oopen .bian{
		width: 34px;
	    z-index: 101;
	    height: 25px;
	    cursor: pointer;
	    background-color:transparent;
	}
	.oopen .bian::before{
	    top: 10px;
	    left:0px;
	    width: 100%;
	    background: #000;
	    transition: transform 0.3s;
	    transform:rotate(45deg);
	}
	.oopen .bian::after{
		background: #000;
	    transition: transform 0.3s;
	    transform:rotate(-45deg);
		top: 10px;
	    width: 100%;
	}

	/* 轮播图 */
	#circle li{
		width:15px;
		height:15px;
	}
	#circle .active {
	    width: 15px;
	    height: 15px;
	    margin-left:15px;
	    background-color: red;
	}

	/* 新闻动态 */
	.div_dot .ndiv{
		display:inline-block;
	}
	.xin_new{
		width: 80%;
	}
	.xin_content{
		padding:0 2%;
	}
	#xin_ul li{
		width: 2.4%;
		margin-right: 0.08%;
	}
	#xin_ul li:nth-child(2n){
		margin-right: 0;
	}
	.xin_txt{
		padding:10px;
	}
	/* 新品推荐 */
	#he{
		width:5%;
	}
	#he-left{
		padding:0;
	}
	#but-left{
		left:43%;
	}
	#but-right{
		right:43%;
	}
	/* 最新活动*/
	#zui_left{
		float:left;
		width:50%;
	}
	#zui_right{
		float:right;
		padding:7%;
		width:50%;
	}

	/* 页尾 */
	#img,#tel{
		float:none;
		text-align:center;
	} 
	#tel{
		margin-top:20px;
	}
	#foo_left{
		width: 100%;
	    float: none;
	    margin-top: 0;
	    margin-bottom: 30px;
	    text-align: center;
	}
	#foo_ul{
		float:none;
	}
	#foo_right{
		width: 100%;
    	float: none;
    	text-align:center;
	}
	#www li{
		float: none;
	    display: inline-block;
	    width: auto;
	    padding-left: 0;
	    padding: 0 20px;
	}
	#www li img{
		margin-left:0;
	}
	#www li p{
		width:100%;
		position: static;
    	margin-top: 15px;
	    text-align:center;
	}
	#foo_bottom{
		text-align:center;
	}
	#foo_bottom ul,#foo_bottom p{
		float:none;
	}
	#foo_bottom ul li{
		float:none;
		display:inline-block;
	}
}
@media (min-width:992px) {
	/* 导航 */
	#nav_body{
		display:block;
	}
	.nav_en{
		padding:1% 0%;
	}
	.nav_header{
		width:222px;
		line-height:70px;
	}
	.nav_body{
		width:65%;
		line-height:70px;
	}
	.nav_en{
		right:10%;
	}
	.nav_ul>li{
		margin-left:20px;
	}
	.gg dl{
		margin-right:60px;
	}
	.guan{
		padding:15px 0;
	}
	.gg{
		padding:0 2%;
	}
	.oopen{
		right:2%;
	}
	.small_mo{
		display:none;
	}
	.mo{
		display:block;
	}
	.oopen .bian::before{
	    background: #fff;
	}
	.oopen .bian::after{
		background: #fff;
	}
	/* 轮播图 */
	#circle li{
		width:15px;
		height:15px;
	}
	#circle .active {
    width: 15px;
    height: 15px;
    margin-left:15px;
    background-color: red;
	}
	/* 新闻动态 */
	.div_dot .ndiv{
		display:none;
	}
	.xin_new{
		width: 80%;
	}
	.xin_content{
		padding:0 2%;
	}
	#xin_ul li{
		width: 1.5%;
    	margin-right: 0.19%;
	}
	.xin_txt{
		padding:25px;
	}
	#xin_ul li:nth-child(2n){
		margin-right:0.19%;
	}
	#xin_ul li:nth-child(3n){
		margin-right:0px;
	}

	/* 新品推荐 */
	#he{
		width:5%;
	}
	#he-left{
		padding:3%;
	}
	#but-left{
		left:45%;
	}
	#but-right{
		right:45%;
	}
	/* 最新活动*/
	#zui_left{
		float:left;
		width:50%;
	}
	#zui_right{
		float:right;
		padding:7%;
		width:50%;
	}
	/* 页尾 */
	#img{
	    float: left;
	}
	#tel{
		float:right;
		margin-top:0;
	}
	#www>li>p{
		right: -65px;
		float: right;
	    margin: 0;
	    position: absolute;
	    top: 26px;
	}
	#foo_left {
	    float: left;
	    margin-top:30px;
	    width: 50%;
	}
	#foo_ul {
	    float: left;
	}
	#foo_ul li{
		margin-left: 3px;
	}
	#foo_right {
	    float: right;
	    width: 50%;
	}
	#www li {
	    list-style: none;
	    float: left;
	    width: 50%;
	    position: relative;
	}
	#foo_bottom ul{
	    float: left;
	}
	#foo_bottom p{
		float:right;
	}
}
@media (min-width:1200px) {
	/* 导航 */
	#nav_body{
		display:block;
	}
	.nav_en{
		padding:1% 0%;
	}
	.nav_header{
		width:234px;
		line-height:70px;
	}
	.nav_body{
		width:68%;
		line-height:70px;
	}
	.nav_en{
		right:5%;
	}
	.nav_ul>li{
		margin-left:40px;
	}
	.gg dl{
		margin-right:60px;
	}
	.guan{
		padding:15px 0;
	}
	.gg{
		padding:0 2%;
	}
	.oopen{
		right:2%;
	}
	.small_mo{
		display:none;
	}
	.mo{
		display:block;
	}
	.oopen .bian::before{
	    background: #fff;
	}
	.oopen .bian::after{
		background: #fff;
	}
	/* 轮播 */
	#circle li{
		width:15px;
		height:15px;
	}
	#circle .active {
    width: 15px;
    height: 15px;
    margin-left:15px;
    background-color: red;
	}
	/* 新闻动态 */
	.div_dot .ndiv{
		display:none;
	}
	.xin_new{
		width: 80%;
	}
	.auto{
		padding:0 2%;
	}
	#xin_ul li{
		width: 1.5%;
		margin-right: 0.19%;
	}
	.xin_txt{
		padding:25px;
	}
	#xin_ul li:nth-child(2n){
		margin-right:0.19%
	}
	#xin_ul li:nth-child(3n){
		margin-right:0px;
	}
	/* 新品推荐 */
	#he{
		width:5%;
	}
	#he-left{
		padding:3%;
	}
	#but-left{
		left:45%;
	}
	#but-right{
		right:45%;
	}
	/* 最新活动*/
	#zui_left{
		float:left;
		width:50%;
	}
	#zui_right{
		float:right;
		padding:7%;
		width:50%;
	}
	/* 页尾 */
	#img{
	    float: left;
	}
	#tel{
		float:right;
		margin-top:0;
	}
	#www>li>p{
		right: -45px;
		float: right;
	    margin: 0;
	    position: absolute;
	    top: 26px;
	}
	#foo_left {
	    float: left;
	    width: 60%;
	}
	#foo_ul {
	    float: left;
	}
	#foo_ul li {
	    margin-left: 35px;
	}
	#foo_right {
	    float: right;
	    width: 38%;
	}
	#www li {
	    list-style: none;
	    float: left;
	    width: 50%;
	    position: relative;
	}
	#foo_bottom ul{
	    float: left;
	}
	#foo_bottom p{
		float:right;
	}

}


ul{
	margin: 0px;
	padding:0px;
}
li{
	list-style:none;
}
dl{
	margin-bottom:0px;
}
a{
	color:#000;
}
a:hover, a:focus {
    color: #000;
    text-decoration: none;
}
.auto{
	margin: 0 auto;
    width: 100%;
    max-width: 1620px;
}
/* 导航 */
.zmq_nav{
	background: #fff;
    z-index: 200;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
}
.cont::after{
	display:block;
	content:'';
	clear:both;
}
.logo{
	display:inline-block;
}
.logo img{
	width:100%;
}
.nav_en{
	float:right;
	text-align:center;
	padding: 24px 85px 24px 20px;
}
.nav_en>a{
	font-size:16px;
}
.nav_en>a:hover{
	color:#e50012;
}
.nav_header{
	float:left;
}
.nav_body{
	float:right;
	display: none;
}
.nav_ul{
	float:right;
}
.nav_ul>li>a{
	font-size: 16px;
	color: #000;
}
.nav_ul::after{
	display:block;
	content:'';
	clear:both;
}
.nav_ul li{
	list-style:none;
	float:left;
}
.nav_ul li>a::after{
	position:relative;
	display:block;
	content:'';
	width:0px;
	height:2px;
	left:0px;
	background-color:transparent;
	transition: all .3s;
}
.nav_ul li>a:hover::after{
	width:100%;
    background-color: #e50012;
}
.nav_ul>li>a.bold{
	font-weight: bold;
}
/* 关于晨光 */
.guan{
	position:absolute;
	top:100%;
	left:0px;
	width:100%;
	background-color:rgba(225,225,225,0.7);
	box-shadow:0 5px 5px rgba(0,0,0,0.1);
	font-size:18px;
	font-weight:bold;
	display:none;
}
.guan::after{
	display:block;
	content:'';
	clear:both;
}
.guan dd{
	cursor: pointer;
}
.gg{
	width:100%;
	height:auto;
	text-align:center;
	margin:0 auto;
}
.gg::after{
	display:block;
	content:'';
	clear:both;
}
.gg dl{
	display:inline-block;
	cursor:pointer;
}
.ggg1{
	padding-left:45%;

}
.ggg2{
	padding-left:45%;

}
.ggg3{
	padding-left:55%;

}
.ggg1 dl,.ggg2 dl,.ggg3 dl{
	float:left;
}
.gg dt>a:hover,.gg dd>a:hover{
	color:#e50012;
}
.gg dt a{
	padding-left: 10px;
    background: url('../images/ico_san.png') no-repeat left center;
    font-weight: bold;
    font-size: 16px;
}
.gg dd>a{
	color: rgba(0, 0, 0, 0.5);
	font-weight: normal;
}

/* 模态框 大屏*/
.mo{
	background-color:rgba(0,0,0,0.9);
	z-index:100;
	width:100%;
	height:100%;
	position:fixed;
	top: 0px;
	left:0px;
	color:#fff;
}
.moo{
	display: table;
	width:100%;
	height:100%;
}
.mmo>ul{
	display: table;
    margin: 0 auto;
    text-align: center;
}
.mmo>ul li{
	list-style:none;
	text-transform: uppercase;
    margin-bottom: 30px;
    line-height: 34px;
    position: relative;
}
.mmo>ul li a{
	color:#fff;
    position: relative;
}
.mmo>ul li:hover a{
	color:#e50012;
	left:20px;
}
.mmo>ul li a::after{
	position: absolute;
    content: '';
    left: 0px;
    top: -8px;
    width: 32px;
    height: 32px;
    background: url('../images/menu_logo.png') no-repeat center center;
    opacity:0;
    transition: 0.3s;
}
.mmo>ul li:hover a::after{
	opacity:1;
	left:-35px;
}
.mmo{
	display: table-cell;
    vertical-align: middle;
}
.mmo99{
	padding: 2%;
    position: absolute;
    right: 0;
    width: 60%;
    height:100%;
    top: 100%;
    background: rgba(0, 0, 0, 0.86);
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
}
.sou{
	width:254px;
	height:46px;
	margin: 0 auto;
	border:1px solid #fff;
}
.sou input{
	background-color:transparent;
	height:46px;
	border:none;
	outline: none;
}
.sou>span{
	font-weight:bold;
	font-size:16px;
	cursor: pointer;
}
.mmbox{
	position: absolute;
    left: 100%;
    top: 0;
    font-size: 15px;
    width: 100%;
    padding-left: 10%;
    text-align: left;
    display:none;
}
.none{
	display:none;
}
.mmbox ul li{
	color:#999;
	width:100%;
	list-style-type: disc;
	line-height: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}
.mmbox ul li:hover{
	color:#fff;
}
.mmo ul li:hover .mmbox{
	display: block;
}
.oopen{
	width: 34px;
    height: 25px;
    line-height: 20px;
    position: absolute;
    top: 24px;
    transition: 0.3s;
    right: 2%;
    cursor: pointer;
}
.open{
	display: inline-block;
	width: 25px;
	height: 4px;
	background-color: #000;
	position: relative;
	cursor: pointer;
}
.open::before,.open::after{
	position: absolute;
	content: '';
	width: 30px;
	height: 4px;
	background-color: #000;
}
.open::before{
	left: -5px;
	top: -10px;
}
.open::after{
	right: 0px;
	top: 10px;
}
/* 小屏 */
.nav_menu{
	position:relative;
}
.small_mo{
	width:240px;
	position:absolute;
	top: 70px;
	right:0px;
	background-color:rgba(0,0,0,0.9);
	color:#fff;
	font-size:16px;
	text-align:center;
	/* display:block; */
}
.small_mo a{
	color:#fff;
}
.smo>ul>li{
	padding:5% 0;
}
.ssbox{
	display:none;
	width:100%;
	background-color:#fff;
	margin:5% 0px;
	padding:5% 0px;
}
.ssbox ul{
	text-align:center;
}
.ssbox ul li{
	display:inline-block;
	line-height:30px;
}
.ssbox ul li a{
	display:inline-block;
	color:#000;
	font-weight:bold;
}
.ssbox .ulbox>li{
	display:block;
}
.lala>p{
	color:#999;
	cursor: pointer;
}
.lala>p:hover{
	color:red;
}

/* 页尾 */
.foo{
	background-color: #363636;
	color: #ccc;
}
.foo_cont{
	padding: 50px 0;
	width:83%;
	margin:0 auto;
}
.foo_one{
	border-bottom: 1px solid #666;
	padding-bottom: 50px;
}
.foo_one::after{
	display: block;
	content: '';
	clear: both;
}
.img,.tel{
	float:none;
	text-align:center;
}
.tel{
	margin-top:20px;
}
.tel span{
	font-size: 22px;
}
.foo_two{
	margin-top: 50px;
}
.foo_two::after{
	display: block;
	content: '';
	clear: both;
}
.foo_left{
	width: 100%;
    float: none;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
}
.foo_right{
	width: 100%;
	float: none;
	text-align:center;
	position:relative;
}
.www::after{
	display:block;
	content:'';
	clear:both;
}
.www li{
	list-style: none;
	width: 50%;
	position: relative;
	display: inline-block;
    width: auto;
    padding-left: 0;
    padding: 0 20px;
}
.www>li>img{
	display: block;
}
.www>li>p{
	float: right;
	margin: 0;
    position: absolute;
    right: 0;
    top: 26px;
    width:100%;
	position: static;
	margin-top: 15px;
    text-align:center;
}
.www>li>p>span{
	display: block;
    padding-top: 10px;
}
.foo_bottom{
	margin-top: 50px;
	text-align:center;
}
.foo_ul::after,.ww::after,.foo_bottom::after{
	display: block;
	content: '';
	clear: both;
}
.foo_ul li{
	display:inline-block;
	margin-left: 30px;
}

/* 固定测导航*/
.asi{
	position:fixed;
	right:0px;
	top: 50%;
	margin-top:-40px;
	background-color:red;
	color:#fff;
	text-align:center;
	padding:10px;
	padding-bottom: 20px;
	cursor: pointer;
	border-radius: 5px;
	z-index: 9999;
}
.asi::after{
	position:absolute;
	display:block;
	content:'';
	background:url('../images/hoverbtnbg.gif') no-repeat;
	float:left;
	bottom: 5px;
	left:10px;
    width: 30px;
    height: 15px;
}
.asi:hover:after{
	bottom: 10px;
    left: -5px;
	transform: rotate(180deg);
}
.intop{
	position:fixed;
	background-color:red;
	right:0px;
	width:30px;
	height:30px;
	bottom:0;
	border-radius:50%;
	cursor:pointer;
	z-index: 9999;
}